# Loading human plays' data

In [21]:
import json
import pandas as pd
import numpy as np
import mmap

In [22]:
# games_jsons = []
# ix = 0
# with open("../data/diplomacy-v1-27k-msgs/standard_no_press.jsonl", "r") as json_file:
#     for line in json_file:
#         games_jsons.append(json.loads(line))

In [23]:
# Load the json data
games_jsons = []
with open("../data/diplomacy-v1-27k-msgs/standard_no_press.jsonl", "r+b") as json_file:
    with mmap.mmap(json_file.fileno(), length=0, access=mmap.ACCESS_READ) as mmap_object:
        for i, line in enumerate(iter(mmap_object.readline, b"")):
            games_jsons.append(json.loads(line.decode("utf-8")))
            if i == 50:
                break

## Uncomment to load RL single game data

In [24]:

# games_jsons = []
# json_file_path = "../data/game_rl_0.json"

# with open(json_file_path, 'r') as j:
#       games_jsons.append(json.loads(j.read()))

In [25]:
# Convert to a pandas dataframe
df = pd.DataFrame(games_jsons)

In [26]:
df = df[df["map"] == "standard"].reset_index(drop=True)

In [27]:
df

,id,map,rules,phases
0,uXFQ2zgI-DUrgwlS,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
1,X9hvE_k6LbQrauYc,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
2,lVp6PZxk3Jpufc9Z,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
3,rW_Q9TpidGLGD2EL,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
4,HYc16KDWi8zHNlmn,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
5,_xZyPB0yRDQjRB4x,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
6,CRbbNicSK5Jc-qmb,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
7,ZSFmLzi-Th6lbpxy,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
8,57xpw6Z-8IKo2hDK,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
9,sdKZrT-i_BvEZsFU,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
10,p6m8jMuDPsM0dtUh,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
11,oIIaa9M0NHem5XE_,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
12,5F6upbHF5NZlWuY_,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
13,7uKSGh-EG86tfpyh,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
14,0yv59hl6e5Ensb4M,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
15,NxMelzPAbZMYgrHY,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
16,omNMEctxL53gLSC0,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
17,LVR_gAlKmfjGb8V2,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
18,h9QEPT6s5-Fi1WrV,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
19,cSaeUT4h0rewXGWH,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
20,5JrcwYeklprQyQ9E,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
21,D619QzLd0FKfXi4m,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
22,kLq1Qi6MqjKKDd4G,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
23,HaJIleHsrwGvcRwO,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
24,BKJDUpmRsGnikiLG,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
25,8Vv4RupS6oaY3W9-,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
26,UUaNd1k82YhdM3Rh,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
27,EWfQsnYLG5-OZLGU,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
28,qispC8HwumqyWTWM,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."
29,1IbGdARWCes1lsqm,standard,"[NO_PRESS, POWER_CHOICE]","[{'name': 'S1901M', 'state': {'timestamp': 154..."

In [28]:
games = df['phases']

In [29]:
games.apply(lambda x: x[0])

0     {'name': 'S1901M', 'state': {'timestamp': 1542...
1     {'name': 'S1901M', 'state': {'timestamp': 1542...
2     {'name': 'S1901M', 'state': {'timestamp': 1542...
3     {'name': 'S1901M', 'state': {'timestamp': 1542...
4     {'name': 'S1901M', 'state': {'timestamp': 1542...
5     {'name': 'S1901M', 'state': {'timestamp': 1542...
6     {'name': 'S1901M', 'state': {'timestamp': 1542...
7     {'name': 'S1901M', 'state': {'timestamp': 1542...
8     {'name': 'S1901M', 'state': {'timestamp': 1542...
9     {'name': 'S1901M', 'state': {'timestamp': 1542...
10    {'name': 'S1901M', 'state': {'timestamp': 1542...
11    {'name': 'S1901M', 'state': {'timestamp': 1542...
12    {'name': 'S1901M', 'state': {'timestamp': 1542...
13    {'name': 'S1901M', 'state': {'timestamp': 1542...
14    {'name': 'S1901M', 'state': {'timestamp': 1542...
15    {'name': 'S1901M', 'state': {'timestamp': 1542...
16    {'name': 'S1901M', 'state': {'timestamp': 1542...
17    {'name': 'S1901M', 'state': {'timestamp': 1542...
18    {'name': 'S1901M', 'state': {'timestamp': 1542...
19    {'name': 'S1901M', 'state': {'timestamp': 1542...
20    {'name': 'S1901M', 'state': {'timestamp': 1542...
21    {'name': 'S1901M', 'state': {'timestamp': 1542...
22    {'name': 'S1901M', 'state': {'timestamp': 1542...
23    {'name': 'S1901M', 'state': {'timestamp': 1542...
24    {'name': 'S1901M', 'state': {'timestamp': 1542...
25    {'name': 'S1901M', 'state': {'timestamp': 1542...
26    {'name': 'S1901M', 'state': {'timestamp': 1542...
27    {'name': 'S1901M', 'state': {'timestamp': 1542...
28    {'name': 'S1901M', 'state': {'timestamp': 1542...
29    {'name': 'S1901M', 'state': {'timestamp': 1542...
Name: phases, dtype: object

In [30]:
for game in games:
    for ix, iy in enumerate(game):
        game[ix]['phase_id'] = ix

In [31]:
def get_adjacent_pairs(input):
    out = {}
    #out['game_id'] = input['state']['game_id']
    #out['phase_id'] = input['phase_id']
    #out['phase_name'] = input['name']
    results_units_keys = [x for x in input['results']]

    assert input['orders'].items() 
    for player, orders in input['orders'].items():
        if orders is not None:
            if orders:
                for order in orders:
                    #out['coordinator'] = player
                    #out['type'] = order.split()[0]
                    out['current_location'] = order.split()[1]
                    out['action'] = order.split()[2]
                    unit = order.split()[0]+ ' ' + order.split()[1]
                    # print("unit result is: ", unit , unit in results_units, results_units)
                    if input['results']:
                        out['results'] = input['results'][unit]
                    #else:
                    #    print("empty results")
                    #    print(order)
                    if unit in results_units_keys:
                        results_units_keys.remove(unit)
                    out['impact_location'] = []
                    if out['action'] == '-' or out['action'] == 'R':
                        assert len(order.split()) == 4 or len(order.split()) == 5, order
                        out['impact_location'] = order.split()[3]
                    yield(out)
                
    if len(results_units_keys)>0:
        for unit in results_units_keys:
            if unit == 'WAIVE': ## FIXME: double check this later
                continue
            assert len(unit.split()) == 2, unit
            #out['coordinator'] = 'RA'
            #for player in input["state"]["units"]:
            #    if unit in input["state"]["units"][player]:
            #        out['coordinator'] = player

            if len(unit.split()[0]) != 1: # if we have sth like HOL D: "void"
                assert input['results'][unit][0] == 'void', input['results'][unit]
                location = unit.split()[0]
                assert unit.split()[1] == 'D', unit.split()[1]
                # find the corresponding key in the results
                for key in input['results']:
                    if key.split()[1] == location:
                        assert input['results'][key][0] == "disband", input['results'][key]
                        input['results'][key].append(input['results'][unit][0])
                        break
            else:
                #out['type'] = unit.split()[0]
                out['current_location'] = unit.split()[1]
                out['results'] = input['results'][unit]
                out['action'] = -2
                out['impact_location'] = -2
                yield(out)

In [32]:
all_records = []
for idx, game in enumerate(games):
  for idx, phase in enumerate(game):
    row_generator = get_adjacent_pairs(phase)
    assert row_generator is not None, row_generator
    for row in row_generator:
      all_records.append(row.copy())

In [33]:
complete_df = pd.DataFrame.from_records(all_records)

In [34]:
np.shape(complete_df)

(21217, 4)

In [35]:
complete_df['action'].unique()

array(['H', '-', 'C', 'B', 'S', 'D', 'R', -2], dtype=object)

In [36]:
complete_df["results"].explode().unique()

array([nan, '', 'bounce', 'dislodged', 'cut', 'void', 'disband',
       'no convoy'], dtype=object)

In [37]:
complete_df[complete_df['action']=='-']

      current_location action   results impact_location
2                  BUD      -        []             SER
3                  LVP      -        []             EDI
4                  EDI      -        []             NWG
5                  LON      -        []             NTH
6                  BRE      -        []             MAO
...                ...    ...       ...             ...
21204              NWY      -        []             SWE
21205              GAL      -        []             VIE
21206              SER      -  [bounce]             TRI
21207              NAO      -  [bounce]             MAO
21208              ANK      -  [bounce]             CON

[9678 rows x 4 columns]

In [38]:
complete_df

      current_location action results impact_location
0                  TRI      H      []              []
1                  VIE      H      []              []
2                  BUD      -      []             SER
3                  LVP      -      []             EDI
4                  EDI      -      []             NWG
...                ...    ...     ...             ...
21212              MUN      S      []              []
21213              BLA      S      []              []
21214              BUD      S      []              []
21215              BOH      S      []              []
21216              CON      H      []              []

[21217 rows x 4 columns]

In [39]:
complete_df = complete_df[complete_df['action'].isin(['-','C','R'])] 
complete_df = complete_df.reset_index(drop=True)

In [40]:
complete_df

      current_location action   results impact_location
0                  BUD      -        []             SER
1                  LVP      -        []             EDI
2                  EDI      -        []             NWG
3                  LON      -        []             NTH
4                  BRE      -        []             MAO
...                ...    ...       ...             ...
10410              NWY      -        []             SWE
10411              GAL      -        []             VIE
10412              SER      -  [bounce]             TRI
10413              NAO      -  [bounce]             MAO
10414              ANK      -  [bounce]             CON

[10415 rows x 4 columns]

In [42]:
origins = complete_df['current_location'].unique()
print(origins)
print(len(complete_df['current_location'].unique()))

['BUD' 'LVP' 'EDI' 'LON' 'BRE' 'PAR' 'MAR' 'VIE' 'TRI' 'NTH' 'NWG' 'PIC'
 'MAO' 'WAR' 'SEV' 'STP/SC' 'MOS' 'CON' 'SMY' 'SER' 'ADR' 'NWY' 'SPA'
 'POR' 'GAL' 'BOT' 'UKR' 'MUN' 'BER' 'KIE' 'VEN' 'ROM' 'NAP' 'ANK' 'ALB'
 'YOR' 'HOL' 'ION' 'TYR' 'BUL' 'BAR' 'DEN' 'TUN' 'FIN' 'SPA/SC' 'GAS'
 'BAL' 'PIE' 'RUM' 'SWE' 'BUR' 'STP' 'ARM' 'GRE' 'NAO' 'RUH' 'TYS' 'SIL'
 'LYO' 'LVN' 'PRU' 'BLA' 'HEL' 'APU' 'TUS' 'EAS' 'WES' 'BEL' 'BOH' 'NAF'
 'AEG' 'ENG' 'BUL/EC' 'WAL' 'BUL/SC' 'IRI' 'STP/NC' 'SKA' 'CLY' 'SYR'
 'SPA/NC']
81

In [43]:
destinations = complete_df['impact_location'].explode().unique()
print(destinations)
print(len(complete_df['impact_location'].explode().unique()))

['SER' 'EDI' 'NWG' 'NTH' 'MAO' 'PIC' 'SPA' 'TYR' 'ADR' 'HOL' 'NWY' nan
 'BEL' 'POR' 'GAL' 'BLA' 'BOT' 'UKR' 'BUL' 'CON' 'GRE' 'VIE' 'VEN' 'BAR'
 'SWE' 'SPA/SC' 'PIE' 'BUR' 'PAR' 'STP/SC' 'RUM' 'ALB' 'YOR' 'KIE' 'ION'
 'DEN' 'TUN' 'FIN' 'STP/NC' 'GAS' 'BAL' 'STP' 'ARM' 'AEG' 'LYO' 'TRI'
 'WAR' 'SEV' 'NAO' 'ENG' 'MUN' 'RUH' 'TYS' 'SIL' 'PRU' 'HEL' 'WES' 'BER'
 'LVN' 'MOS' 'APU' 'TUS' 'EAS' 'NAP' 'BUD' 'BOH' 'ROM' 'IRI' 'MAR' 'NAF'
 'SMY' 'BRE' 'BUL/SC' 'BUL/EC' 'WAL' 'SKA' 'LON' 'ANK' 'LVP' 'CLY'
 'SPA/NC' 'SYR']
82

In [44]:
difference_in_locations = list(set(destinations) - set(origins))
difference_in_locations

[nan]

In [45]:
complete_df.loc[0]

current_location    BUD
action                -
results              []
impact_location     SER
Name: 0, dtype: object

In [46]:
adjacency_map = pd.DataFrame(0,columns=origins, index=origins)
adjacency_map

,BUD,LVP,EDI,LON,BRE,PAR,MAR,VIE,TRI,NTH,...,ENG,BUL/EC,WAL,BUL/SC,IRI,STP/NC,SKA,CLY,SYR,SPA/NC
BUD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LVP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
EDI,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LON,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BRE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STP/NC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SKA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CLY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SYR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SPA/NC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
for row in range(len(complete_df)):
    orig = complete_df.loc[row]['current_location']
    dest = complete_df.loc[row]['impact_location']
    res = complete_df.loc[row]['results']
    if res == []:
        adjacency_map[orig][dest] += 1

    


adjacency_map

,BUD,LVP,EDI,LON,BRE,PAR,MAR,VIE,TRI,NTH,...,ENG,BUL/EC,WAL,BUL/SC,IRI,STP/NC,SKA,CLY,SYR,SPA/NC
BUD,0,0,0,0,0,0,0,43,39,0,...,0,0,0,0,0,0,0,0,0,0
LVP,0,0,12,0,0,0,0,0,0,0,...,0,0,42,0,22,0,0,17,0,0
EDI,0,32,0,0,0,0,0,0,0,27,...,0,0,1,0,0,0,0,18,0,0
LON,0,0,2,0,2,0,0,0,0,43,...,51,0,34,0,0,0,0,0,0,0
BRE,0,0,0,8,0,35,0,0,0,0,...,48,0,10,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STP/NC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SKA,0,0,0,0,0,0,0,0,0,34,...,0,0,0,0,0,0,0,0,0,0
CLY,0,18,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SYR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SPA/NC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0